body {
    max-width: 94vw;
    min-height: 96vh;
    padding: 2vh 2vw;
    font-family: 'Boogaloo', Verdana, Arial;
}

header {
    min-height: 50px;
}

label {
    font-weight: normal;
}

.btn-info {
    margin: 5px 5px;
    min-width: 120px;
}

.btn-success {
    margin: 5px 0;
}

p {
    font-size: 24px;
    margin: 0;
    letter-spacing: .5px
}

input[type="text"] {
    font-size: 24px;
}

.button-holder, .gif-holder {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 94vw;
}

.gif-div {
    max-width: 92vw;
    min-width: 300px;
    margin: 2% auto;
}

.gif {
    max-width: 100%;
    height: auto;
}