body {
    background-color: lightgray; 
    max-width: 96vw;
    min-height: 96vh;
    padding: 2vh 2vw;
}

header {
    min-height: 50px;
}

.btn {
    margin: 10px 1px;
    min-height: 30px;
}

p {
    font-size: 24px;
    margin: 0;
}

input[type="text"] {
    font-size: 24px;
}

.gif-holder {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%;
}